header{
	margin: auto;
	text-align: center;
	
}

.container{
	width: 1400px;
	margin: auto;
	text-align: center;
}
.thumbnail{
	background: url('../img/stormBackground.jpg');
}

.battle-container{
  display: none;
}

.row{
  display: inline;
 
}

.col-sm-6{
	width: 50%;
}

#choose-container {
	background: url('../img/stormBackground.jpg');
}
