.snap-content {
  background: #E8E8EC;
}
.course_menu_content {
  background: black;
}

.course_menu_content h2 {
	color:#aaaaaa;
}
.course_menu_content a {
  color: #aaaaaa;
}
.course_menu_content a:hover {
  color: white !important;
}
.menu_link {
  color: #aaaaaa !important;
}
.menu_link.active {
  color: #E8E8EC !important;
}
.course_menu_text{
  color: #aaaaaa !important;
}

.nav-pills a:hover .course_menu_text {
  color: black !important; 
}
.nav-pills a .course_menu_dot {
  background: white;
}
.nav-pills .active a .course_menu_dot {
  background: #666666;
}
.nav-pills a:hover .course_menu_dot {
  background: #574048;
}

